    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          <span>Logo</span>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="about" class="nav-link px-2">About</a></li>
        <li><a href="articles" class="nav-link px-2">Articles</a></li>
        <li></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if session.logged_in %}
          <a type="button" href="{{url_for('dashboard')}}" class="btn me-2">Dashboard</a>
          <a type="button" href="{{url_for('logout')}}" class="btn me-2">Logout</a>
        {% else %}
          <a type="button" href="{{url_for('login')}}" class="btn me-2">Login</a>
          <a type="button" href="{{url_for('register')}}" class="btn">Register</a>
        {% endif %}
      </div>
    </header>